# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.log
media/

# Virtual Environment
venv/
ENV/
env/
.venv/

# Django Settings (Secret keys and environment variables)
*.env
*.ini
*.json
*.yml
*.yaml

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Other
*.coverage
*.tox
*.nox
*.coverage.*
*.hypothesis/
*.pytest_cache/
